elsa-xml/schemas/T2S/ISO_T2S_Xml/camt.076.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: camt.076_T2S
Usage Guideline: camt.076.001.01_T2S
Base Message: DRAFT4camt.076.001.01
Date of publication: 23 November 2021
URL: https://www2.swift.com/mystandards/#/mp/mx/_EBK-9H_uEeur2_Z6XHtYBQ/_L1tR8X_uEeujpaWRSVP5HQ
Description: The BillingReportRequest message is sent by the system member to the system transaction administrator to request cumulative or itemised billing data. The billing data may be cumulative information or aggregated information on the level of a single securities or a cash account within a given period for each service item.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2022-01-25T13:11:25+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT4camt.076.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT4camt.076.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification38Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification38Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification of the securities account or the cash account owned by the customer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="SctiesAcctId" type="SecuritiesAccount19__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the securities account as assigned by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CshAcctId" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the cash account, as assigned by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICDec2014Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingReportRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BillingReportRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The BillingReportRequest message is sent by the system member to the system transaction administrator to request cumulative or itemised billing data. The billing data may be cumulative information or aggregated information on the level of a single securities or a dedicated cash account within a given period for each service item.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the characteristics specific to the message, such as the identification or the creation date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="30" minOccurs="1" name="SchCrit" type="BillingSearchCriteria3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract the billing data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingSearchCriteria3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BillingSearchCriteria3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Svc" type="SystemAndCurrency1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Service</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the service or system for which the billing information must be returned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BllgId" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BillingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the billing report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BllgPrd" type="DatePeriod2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BillingPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information for each invoice invoicing request or month end billing event is stored.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification136__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the referenced party (that is, which has a contractual responsibility for the billed customer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyId" type="PartyIdentification136__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the billed party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification38Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Either securities account or dedicated cash account number.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriod2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriod2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="RestrictedISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="RestrictedISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BllgRptReq" type="BillingReportRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="TARGET_RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="TARGET_QueryType2Code_BILL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="TARGET_ServicesType_BILL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing system identification in a proprietary form.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MessageHeader2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification120Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification136__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAndCurrency1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemAndCurrency1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the system and its currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SysId" type="SystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the system, as assigned by the system administrator.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TARGET_QueryType2Code_BILL">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TARGET_QueryType2Code_BILL</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:enumeration value="CUMU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CumulativeBillingData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cumulative Billing Data Query Type</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITEM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ItemisedBillingData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Itemised Billing Data Query Type</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TARGET_RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TARGET_RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+](|[0-9a-zA-Z/\-\?:\(\)\.,'\+]|[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,32}[0-9a-zA-Z/\-\?:\(\)\.,'\+])"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TARGET_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TARGET_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+](|[0-9a-zA-Z/\-\?:\(\)\.,'\+]|[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,33}[0-9a-zA-Z/\-\?:\(\)\.,'\+])"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TARGET_ServicesType_BILL">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TARGET_ServicesType_BILL</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2S</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">T2S</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TIPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TIPS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">TIPS</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECMS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ECMS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ECMS</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">T2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
