elsa-xml/schemas/T2S/ISO_T2S_Xml/camt.019.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: camt.019_T2S
Usage Guideline: camt.019.001.07_T2S
Base Message: camt.019.001.07
Date of publication: 09 May 2022
URL: https://www2.swift.com/mystandards/#/mp/mx/_I99MkM92EeyKwdQeSfrOEw/_I99Mkc92EeyKwdQeSfrOEw
Description: null
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-01-24T14:05:41+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.019.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.019.001.07">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessDay8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDay8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SysId" type="SystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular market infrastructure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BizDayOrErr" type="BusinessDayReportOrError10Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested information on the system availability for a specific business day or business error when information has not been found.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDay9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDay9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment system operational information, such as opening, closure, session period or events, given per currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDt" type="RestrictedISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date for which the availability information is provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysSts" type="SystemStatus3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysInfPerCcy" type="SystemAvailabilityAndEvents3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemInformationPerCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information relating to system operations and foreseen events relating to the operation of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayReportOrError10Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayReportOrError10Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between business day information details or a business error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="BizDayInf" type="BusinessDay9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested system details for a specific business day.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BusinessDayReportOrError9Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayReportOrError9Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between business day information details or an operational error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizRpt" type="BusinessDay8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports either business day information or a business error.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClosureReason2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClosureReason2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Closure reason expressed as a code or a bilaterally agreed code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="SystemClosureReason1Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating, in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating, in a bilateral agreed code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="FrDtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTmRg" type="DateTimePeriod1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTimeRange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and time and an end date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriod1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the period ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrBizDayInf" type="ReturnBusinessDayInformationV07"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_STAT_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_STAT_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="EODP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfDayPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End of Day period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FNTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FirstNightTimeCycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First night-time cycle.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LNTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastNightTimeCycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Last night-time cycle.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MTNW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaintenanceWindow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maintenance window.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTMC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RealTimeSettlementClosure</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Real-time settlement closure.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTMS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RealTimeSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Real-time settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SODP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfDayPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Day period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FNTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Final Message For Night-time Settlement </xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Final message for night-time settlement </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOMW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">No Maintenance Window</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No Maintenance Window</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4NTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">C4 Night Time Cycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">C4 Night Time Cycle</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3NTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">C3 Night Time Cycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">C3 Night Time Cycle</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5NTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">C5 Night Time Cycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">C5 Night Time Cycle</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalMarketInfrastructure1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2S</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText_STAT_T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchmeNm" type="Max4AlphaNumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText_fixed__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchmeNm" type="Max4AlphaNumericText_fixed__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText_fixed__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure through which the payment instruction is processed, as published in an external clearing system identification code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="STAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">STAT</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed__1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2S</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed__2</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EVTP</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReturnBusinessDayInformationV07">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnBusinessDayInformationV07</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnBusinessDayInformation message is sent by the transaction administrator to a member of the system.&#13;
It is used to provide information on different types of administrative data linked to the system.&#13;
The ReturnBusinessDayInformation message can be sent as a response to a related GetBusines DayInformation message (pull mode), or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business day information covers all information related to the management of the system, that is, not related to the transactions or requests created in the system. The type of business information available can vary depending on the system.&#13;
The member can request information about the static data of the system through a series of criteria, corresponding to the known information stored within the transaction administrator. Based on the criteria received within the request, the transaction administrator will select items that match the request and report them to the requester.&#13;
The transaction administrator may also send a ReturnBusinessDayInformation message with pre-defined information at times previously agreed with the member or to warn the member about a particular problem that may have arisen and which needs attention.&#13;
The message from the transaction administrator can contain information based on the following elements:&#13;
- identification of the system&#13;
- status of the system and period in which this status is valid&#13;
- currency within the system concerned and details of the hours of availability linked to that particular currency&#13;
- events related to the functioning of the system and the timing of their occurrence&#13;
Additional information on the generic design of the Get/Return messages can be found in the MDR Part 1 section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="BusinessDayReportOrError9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAvailabilityAndEvents3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemAvailabilityAndEvents3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details about the system availability and the related system events that might impact the availability.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency which may be processed by the system. A system may process transactions in a single currency or in multiple currencies.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Evt" type="SystemEvent3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Event</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about an event occurring on a system, whether planned, such as the cut-off time for a specific type of eligible transfer, or unplanned (an unsolicited failure), as stipulated in the specifications of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrInf" type="SystemClosure2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosureInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information regarding the closure time of a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemClosure2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemClosure2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about inactivity of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Rsn" type="ClosureReason2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemClosureReason1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemClosureReason1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for system inactivity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BHOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankingHoliday</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed due to a bank holiday.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemMaintenance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed for maintenance reasons.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCVR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recovery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not operational during recovery operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllowedDowntimeWindow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not operational during allowed downtime windows.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEvent3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEvent3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on an event occurring in a system, whether planned or unplanned as stipulated in the specifications of the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="SystemEventType4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the event that has occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchdldTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ScheduledTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event is foreseen to occur.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event effectively takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StartTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the event starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the event ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEventType4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventType4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of system event.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification1__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of system event that has occurred, expressed as free text or a bilaterally agreed code.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemStatus2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatus2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the system, in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemStatus3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatus3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="SystemStatus2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current status of a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyTm" type="DateTimePeriod1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidityTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period of time during which the status of the system is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
