elsa-xml/schemas/T2S/ISO_T2S_Xml/head.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: head.002_T2S
Usage Guideline: head.002.001.01_T2S
Base Message: DRAFT3head.002.001.01
Date of publication: 21 June 2020
URL: https://www2.swift.com/mystandards/#/mp/mx/__F7QcEmNEeq3O9-0LXVTJg/__F7QcUmNEeq3O9-0LXVTJg
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2020-07-07T15:46:17+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT3head.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT3head.002.001.01">
    <xs:element name="Xchg" type="BusinessFileHeaderV01"/>
    <xs:complexType name="ApplicationSpecifics1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ApplicationSpecifics1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Application specific information defined by the service provider.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysUsr" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemUser</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A system user is a user account defined in the static data. It represents an individual or an application that interacts with the system administrator (e. g. T2S), triggering the available functions. The set of functions available to each system user stems from the set of privileges for which the system user is grantee. System administrator does not provide any attribute for distinguishing between individuals and applications. &#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains the digital signature of the Business Entity authorised to sign this Business File.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlNbOfDocs" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberOfDocuments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gives the total number of instances (messages) within the file.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessFileHeaderV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessFileHeaderV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The BusinessFileHeader is exchanged between a system member (NCB, CSD or a directly connected party) and the system transaction administrator. The functions of a BusinessFileHeader supports are to:&#13;
• sum up different documents (messages) within one envelope;&#13;
•	route the object exchanged to a destination;&#13;
•	identify the object exchanged;&#13;
•	describe the type of the object exchanged;&#13;
•	give processing information to the receiving party.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PyldDesc" type="PayloadDescription1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayloadDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains information about the payload.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Pyld" type="ExchangePayload1_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payload</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">File Payload is used to include the exchanged documents within the file structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangePayload1_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExchangePayload1_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This component includes the exchanged ISO20022 documents.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="urn:iso:std:iso:20022:tech:xsd:head.003.001.01" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ManifestDetails1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ManifestDetails1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Describes the related items or attachments (such as message types and number of messages types) within the file.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DocTp" type="MsgNmId_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DocumentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of items contained in the document set. An initial list of values can be found in the ISO20022 message type catalogue such as admi, camt, pacs, sese, semt etc. ISO messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NbOfDocs" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfDocuments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gives the number of instances (messages) for each declared type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max256Text_T2S_2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text_T2S_2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
            <xs:enumeration value="ISO20022">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISO20022</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchanged payload  belongs to  ISO 20022 standard family</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MsgNmId_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MsgNmId_T2S_1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9\.]{15,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PayloadDescription1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PayloadDescription1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Contains information about the payload.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PyldDtls" type="PayloadDetails1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayloadDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This component is used to identify the instance of the document exchanged.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ApplSpcfcInf" type="ApplicationSpecifics1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ApplicationSpecificInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains business information that is considered as necessary by the service provider.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PyldTpDtls" type="PayloadTypeDetails1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayloadTypeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the type of payload.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MnfstDtls" type="ManifestDetails1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ManifestDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Manifest that describes the related items or attachments.&#13;
This block is repeated for each different type of item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayloadDetails1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PayloadDetails1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This component identifies the instance of the document exchanged.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PyldIdr" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayloadIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies the file, which was delivered by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtAndTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateAndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time when the file was created by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PssblDplctFlg" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PossibleDuplicateFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Flag indicating if the file exchanged between the two business applications is possibly a duplicate. If this indicator is not present within the message, please note that the default value would be "False".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayloadTypeDetails1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PayloadTypeDetails1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of payload.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="Max256Text_T2S_2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Declaration of the payload content. Describes the type of business document being exchanged.&#13;
&#13;
When sending a copy or a duplicate of a previous document set, the document set identification must remain identical.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignatureEnvelope_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignatureEnvelope_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical Envelope for a Signature</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
