elsa-xml/schemas/T2S/ISO_T2S_Xml/semt.014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: semt.014_T2S
Usage Guideline: semt.014.001.06_T2S
Base Message: semt.014.001.06
Date of publication: 25 January 2021
URL: https://www2.swift.com/mystandards/#/mp/mx/_9sQHwEmNEeqYTqRpZ7U8cA/version/3/_9sQHwUmNEeqYTqRpZ7U8cA
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2021-01-26T11:10:07+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.014.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.014.001.06">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus21Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgedAcceptedStatus21Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the acknowledged accepted status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason12Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgementReason12Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the acknowledgement reason.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason5Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies additional information about the processed instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgementReason5Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies additional information about the processed instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AcknowledgementReason9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgementReason9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies additional information about the processed instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason12Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason provided for the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason22__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason22__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason an instruction or request is cancelled.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason36Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction is cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason36Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason36Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the cancellation reason.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason16Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the related instruction is cancelled, or the related cancellation request is executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationStatus24Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationStatus24Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason22__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the cancellation status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason16Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancelledStatusReason16Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the cancellation status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="SCEX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesNoLongerEligible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction has been cancelled; the security no longer exists or is no longer eligible on the market instructed. For corporate action related cancellation, CORP should be used.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CXLR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfLife</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is rejected by the executing party, the rejection is final therefore the order is cancelled in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BYIY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledDueToBuyIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been cancelled because a buy-in has been initiated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTHP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByThirdParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is cancelled by a Third party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledSplitPartialSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original transaction has been cancelled and replaced to allow a partial or split settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledDueToTransformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original transaction has been cancelled and replaced due to a corporate action.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSUB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been cancelled by the agent due to an event deadline extension.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledBySystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByYourself</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by yourself.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledDueToCorporateAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction has been cancelled due to a corporate action.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="RestrictedISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="IntraPosMvmntStsAdvc" type="IntraPositionMovementStatusAdviceV06"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FailingReason3Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingReason3Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason the transaction/instruction is failing settlement. Settlement on the instructed settlement date is no longer possible.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your account is blocked, no instruction can settle over the account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeSettlesInPartials</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade will settle in partials.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingLinkedInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your instruction is pending settlement because the instruction linked to it is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LackOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient financial instruments in your account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CYCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingNextSettlementCycle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your instruction is confirmed in the local market or is ready for settlement, awaiting next settlement cycle.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBLO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments are blocked due to, for example, a corporate action event, realignment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction was received after market deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INBC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncompleteNumberCount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not all the instructions part of a pool have been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingReason7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the failing reason.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="FailingReason3Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a failing settlement status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FailingReason7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingReason7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction or request has a failing settlement status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason7Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a failing status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingStatus9Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FailingStatus9Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of failing status.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="FailingReason7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the failing status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, for example, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, that is, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchmeNm" type="Max4AlphaNumericText_fixed__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINOct2015Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntraPositionDetails49__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionDetails49__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the intra-position movement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification127Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount19__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmId" type="SecurityIdentification19__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmQty" type="FinancialInstrumentQuantity1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="DateAndDateTime2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be moved.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AckdStsTmStmp" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgedStatusTimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time stamp on when the transaction is acknowledged.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalFr" type="SecuritiesBalanceType7Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance from which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTo" type="SecuritiesBalanceType7Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionMovementStatusAdviceV06">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionMovementStatusAdviceV06</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends a IntraPositionMovementStatusAdvice to an account owner to advise the status of an intra-position movement instruction previously sent by the account owner.&#13;
The account servicer/owner relationship may be:&#13;
- a central securities depository or another settlement market infrastructure acting on behalf of their participants&#13;
- an agent (sub-custodian) acting on behalf of their global custodian customer, or&#13;
- a custodian acting on behalf of an investment management institution or a broker/dealer.&#13;
&#13;
Usage&#13;
The message may also be used to:&#13;
- re-send a message previously sent,&#13;
- provide a third party with a copy of a message for information,&#13;
- re-send to a third party a copy of a message for information using the relevant elements in the Business Application Header.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifications29__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of a transaction as per the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="IntraPositionProcessingStatus7Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the processing status of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSts" type="SettlementStatus16Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the status of settlement of a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="IntraPositionDetails49__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionProcessingStatus7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionProcessingStatus7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing status.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Rjctd" type="RejectionOrRepairStatus29Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction/Request has been rejected for further processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Canc" type="CancellationStatus24Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus21Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgedAccepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been acknowledged by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max350Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="/Document/IntraPosMvmntStsAdvc/TxId">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">/Document/IntraPosMvmntStsAdvc/TxId</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2S</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed__1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RT</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification127Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification127Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PendingReason10Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason10Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason the transaction/instruction is pending settlement. Settlement on the instructed settlement date is still possible.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your account is blocked, no instruction can settle over the account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeSettlesInPartials</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade will settle in partials.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingLinkedInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your instruction is pending settlement because the instruction linked to it is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUTU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting settlement date. No settlement problems to be reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LackOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient financial instruments in your account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBLO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments are blocked due to, for example, a corporate action event, realignment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INBC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncompleteNumberCount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not all the instructions part of a pool have been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason14__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason14__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction or request has a pending status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason26Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a pending status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason26Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason26Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the pending reason.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="PendingReason10Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a pending status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus36Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingStatus36Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason14__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the pending status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason23Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionAndRepairReason23Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the rejection or repair reason.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason29Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has a repair or rejection status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason23__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionOrRepairReason23__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the rejection or repair status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cd" type="RejectionAndRepairReason23Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has a rejected or repair status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus29Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionOrRepairStatus29Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason23__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the rejection or repair status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason29Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason29Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid message sender's safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DDAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDateRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid settlement date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has a reference identical to another previously received instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DQUA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid instructed quantity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid financial instrument identification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction aims at using an invalid balance.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidLink</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized link.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidLotNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized lot number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MINO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumSettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity instructed is lower than the minimum existing settlement quantity for the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MUNO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultipleSettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity instructed is not a multiple of an existing settlement quantity lot for the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidRule</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account servicer validation rule rejection.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType13Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType13Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the securities or investment fund balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableWithNoAdditionalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of financial instruments that are freely available with no specific additional status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesBalanceType7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the balance type.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesBalanceType13Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as an ISO 20022 code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification30__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as a proprietary code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus16Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementStatus16Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement status.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Pdg" type="PendingStatus36Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is pending. Settlement at the instructed settlement date is still possible.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Flng" type="FailingStatus9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Failing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is failing. Settlement at the instructed settlement date is no longer possible.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="urn:eurosystem:xsd:DRAFT2supl.021.001.01" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications29__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionIdentifications29__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a document, message or transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctOwnrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessorTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction assigned by the processor of the instruction other than the account owner the account servicer and the market infrastructure.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
