elsa-xml/schemas/T2S/ISO_T2S_Xml/semt.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: semt.002_T2S
Usage Guideline: semt.002.001.10_T2S
Base Message: semt.002.001.10
Date of publication: 16 June 2022
URL: https://www2.swift.com/mystandards/#/mp/mx/_-HAKEEmNEeq3O9-0LXVTJg/version/5/_-HAKEUmNEeq3O9-0LXVTJg
Description: null
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-01-24T16:55:28+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.002.001.10" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.002.001.10">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalBalanceInformation18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalBalanceInformation18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Subbalances providing additional information on a specific position but that is not to be accounted for in the building of the aggregate balance, for example, registered.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SubBalTp" type="SubBalanceType12Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubBalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="Balance9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubBalAddtlDtls" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubBalanceAdditionalDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional sub-balance information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown54__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityBreakdown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the aggregate quantity reported into significant lots, for example, tax lots.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AggregateBalanceInformation35__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AggregateBalanceInformation35__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Overall position, in a single security, held in a securities account at a specified place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification19__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrbts" type="FinancialInstrumentAttributes91__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributes</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Elements characterising a financial instrument other than a investment funds.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AggtBal" type="Balance6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AggregateBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblBal" type="Balance8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance that is available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NotAvlblBal" type="BalanceQuantity8Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAvailableBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance that is not available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctBaseCcyAmts" type="BalanceAmounts3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBaseCurrencyAmounts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Valuation amounts provided in the base currency of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalBrkdwn" type="SubBalanceInformation18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceBreakdown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the aggregate balance per meaningful sub-balances and availability.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalAtSfkpgPlc" type="AggregateBalancePerSafekeepingPlace32__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceAtSafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of positions per place of safekeeping (and optionally per place of listing).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AggregateBalancePerSafekeepingPlace32__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AggregateBalancePerSafekeepingPlace32__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account at a specified place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgPlc" type="SafeKeepingPlace3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where the securities are safe-kept, physically or notionally. This place can be, for example, a local custodian, a Central Securities Depository (CSD) or an International Central Securities Depository (ICSD).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AggtBal" type="Balance6__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AggregateBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountAndDirection6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Posting of an item to a cash account, in the context of a cash transaction, that results in an increase or decrease to the balance of the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sgn" type="PlusOrMinusIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the amount value is positive or negative.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICDec2014Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Balance6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Balance6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account. A securities balance is calculated from the sum of securities' receipts minus the sum of securities' deliveries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngInd" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indication that the position is short or long.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="BalanceQuantity9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Balance6__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Balance6__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account. A securities balance is calculated from the sum of securities' receipts minus the sum of securities' deliveries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngInd" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indication that the position is short or long.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="BalanceQuantity9Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Balance7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Balance7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account. A securities balance is calculated from the sum of securities' receipts minus the sum of securities' deliveries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Qty" type="BalanceQuantity9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Balance8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Balance8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account. A securities balance is calculated from the sum of securities' receipts minus the sum of securities' deliveries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Qty" type="BalanceQuantity8Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Balance9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Balance9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account. A securities balance is calculated from the sum of securities' receipts minus the sum of securities' deliveries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Qty" type="SubBalanceQuantity6Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceAmounts3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceAmounts3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amounts linked to a securities balance, for example, holding value.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HldgVal" type="AmountAndDirection6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldingValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of an individual financial instrument holding within a safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ElgblCollVal" type="AmountAndDirection6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibleCollateralValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the position eligible for collateral purposes.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceQuantity8Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceQuantity8Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between quantity formats for the balance information.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceQuantity9Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceQuantity9Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between quantity formats for the balance information.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Qty" type="Quantity6Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceQuantity9Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceQuantity9Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between quantity formats for the balance information.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Qty" type="Quantity6Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClassificationType32Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClassificationType32Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the classification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AltrnClssfctn" type="GenericIdentification36__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternateClassification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary classification of financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DtTm" type="RestrictedISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesBalCtdyRpt" type="SecuritiesBalanceCustodyReportV10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency7Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventFrequency7Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the regularity of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADHO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adhoc</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place as necessary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Daily</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place every day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntraDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place several times a day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the values for T2S 'Restriction Processing Type'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="BLCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BlockedSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Blocked security</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Collateralized</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateralized</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">COSDBlockingOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CoSD blocking of securities</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EARM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarmarkedSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Earmarked security</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RESE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReservedSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reserved security</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributes91__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributes91__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Elements characterising a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType32Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO Classification of Financial Instrument (CFI) codification, for example, common share with voting rights, fully paid, or registered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DnmtnCcy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DenominationCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which a security is issued or redenominated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmAttrAddtlDtls" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributeAdditionalDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information about the financial instrument in narrative form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, for example, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, that is, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, that is, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Frequency22Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Frequency22Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for a frequency, for example, the frequency of delivery of a statement.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency7Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency expressed as an ISO 20022 code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchmeNm" type="Max4AlphaNumericText_fixed__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchmeNm" type="Max4AlphaNumericText_fixed__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification36__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification using a proprietary scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification36__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification using a proprietary scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification37__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINOct2015Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The International Securities Identification Number is a code allocated to financial instruments as well as referential instruments, as described in the ISO 6166 standard, associated with the minimum descriptive data.  The ISIN consists of a prefix using the alpha-2 country codes or reserved codes specified in ISO 3166 or other prefixes as may be determined by the Registration Authority for the ISO 6166 standard, a nine characters (alphanumeric) basic code and a check digit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Intermediary44__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Intermediary44__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party that provides services to investors relating to financial products (Investment Funds).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification136__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of the intermediary.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2S</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed__1</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RPT</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed__2</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RT</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification120Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification120Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification127Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification127Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification36__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification136__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification136__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification144__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification144__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification127Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PlusOrMinusIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a positive or negative value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Quantity6Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity6Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity6Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown54__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QuantityBreakdown54__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of breakdown of a quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification37__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification, for tax purposes, of a lot of identical securities that are bought at a certain date and at a certain price.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="Balance7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instruments that is part of the lot described.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINMax30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30 characters. It has a pattern ([^/]+/)+([^/]+)|([^/]*) that disables the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax31Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 31 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafeKeepingPlace3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafeKeepingPlace3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Place where the securities are safe-kept, physically or notionally. This place can be, for example, a local custodian, a Central Securities Depository (CSD) or an International Central Securities Depository (ICSD).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlcFrmt" type="SafekeepingPlaceFormat29Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceFormat</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceFormat29Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceFormat29Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Id" type="RestrictedFINXMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed as a code and a narrative description.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount26__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount26__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesBalanceCustodyReportV10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceCustodyReportV10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends a SecuritiesBalanceCustodyReport to an account owner to provide, at a moment in time, the quantity and identification of the financial instruments that the account servicer holds for the account owner.&#13;
&#13;
The account servicer/owner relationship may be:&#13;
- a central securities depository or another settlement market infrastructure acting on behalf of their participants, or&#13;
- an agent (sub-custodian) acting on behalf of their global custodian customer, or &#13;
- a custodian acting on behalf of an investment management institution or a broker/dealer, or&#13;
- a transfer agent acting on behalf of a fund manager or an account owner's designated agent.&#13;
&#13;
Usage&#13;
The message can also include availability and the location of holdings to facilitate trading and minimise settlement issues. The message reports all information per financial instrument, that is, when a financial instrument is held at multiple places of safekeeping, the total holdings for all locations can be provided. &#13;
The message should be sent at a frequency agreed bi-laterally between the account servicer and the account owner. The message may be provided on a trade date, contractual or settlement date basis. &#13;
There may be one or more intermediary parties, for example, an intermediary or a concentrator between the account owner and account servicer.&#13;
&#13;
The message may also be used to:&#13;
- re-send a message previously sent,&#13;
- provide a third party with a copy of a message for information,&#13;
- re-send to a third party a copy of a message for information using the relevant elements in the Business Application Header.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number of the message (within a statement) and continuation indicator to indicate that the statement is to continue or that the message is the last page of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtGnlDtls" type="Statement73__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementGeneralDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides general information on the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification144__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification136__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount26__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="IntrmyInf" type="Intermediary44__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about the party that provides services relating to financial products to investors, for example, advice on products and placement of orders for the investment fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalForAcct" type="AggregateBalanceInformation35__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceForAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType12Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType12Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the securities or investment fund balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableWithNoAdditionalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of financial instruments that are freely available with no specific additional status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification19__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification19__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN). A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ShortLong1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities position is short or long, that is, whether the balance is a negative or positive balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Short</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is short, that is, the balance is negative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LONG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Long</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is long, that is, the balance is positive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Statement73__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Statement73__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Characteristics of the statement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to all pages of a statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtDtTm" type="DateAndDateTime2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Frqcy" type="Frequency22Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Frequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UpdTp" type="UpdateType15Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the statement is complete or contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtBsis" type="StatementBasis7Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementBasis</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of balance on which the statement is prepared.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActvtyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is activity or information update reported in the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubAcctInd" type="YesNoIndicator_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubAccountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the statement reports holdings at subsafekeeping account level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementBasis1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementBasis1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of balances on which the statement is prepared.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SETT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The statement is based on settled date positions to the knowledge of the sender at the time of the statement preparation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatementBasis7Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementBasis7Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the statement basis.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="StatementBasis1Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement basis expressed as an ISO 20022 code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementUpdateType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a statement update, for example, it is a complete statement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Delta</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubBalanceInformation18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceInformation18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding of a single security within the overall position held in the securities account, for example, sub-balance per status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SubBalTp" type="SubBalanceType11Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubBalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="Balance9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlBalBrkdwnDtls" type="AdditionalBalanceInformation18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalBalanceBreakdownDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional instrument sub-balance information on all or parts of the reported financial instrument (unregistered, tax exempt, etc.).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubBalanceQuantity6Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceQuantity6Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the balance information.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SubBalanceType11Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceType11Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the sub-balance.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesBalanceType12Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification30__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SubBalanceType12Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceType12Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the sub-balance.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification30__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UpdateType15Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdateType15Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the update information.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the report is complete or contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="false">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">false</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
